<div class="container text-dark col-md-1">
    <h3>Biblioteca</h3>
    <hr>
</div>
<br>
<br>
<div class="container">
    <div *ngFor="let jogo of biblioteca.listarJogos()">
        <div class="row ">
            <div class="card mb-4 bg-body-tertiary">
                <div class="card-body">
                    <h5 class="card-title">{{jogo.titulo}}</h5>
                    <h6 class="card-subtitle mb-4">{{jogo.exibirRegras()}}</h6>
                    <p class="card-text" >O ano de criação foi {{jogo.anoPublicacao}}, o(s) fabricante(s) foi/foram o(s)
                        {{jogo.fabricante}}</p>
                    <button class="btn btn-danger" (click)="removerJogo(jogo)">Remover</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <form (ngSubmit)="adicionarJogo()" class="card card-body bg-body-tertiary">
    
        <div class="form-group mb-3">
            <label for="titulo">Título</label>
            <input type="text" id="titulo" class="form-control" [(ngModel)]="titulo" name="titulo" required />
        </div>
    
        <div class="form-group mb-3">
            <label for="anoPublicacao">Ano de Publicação</label>
            <input type="number" id="anoPublicacao" class="form-control" [(ngModel)]="anoPublicacao" name="anoPublicacao"
                required />
        </div>
    
        <div class="form-group mb-3">
            <label for="fabricante">Fabricante</label>
            <input type="text" id="fabricante" class="form-control" [(ngModel)]="fabricante" name="fabricante" required />
        </div>
    
        <div class="form-group mb-3">
            <label for="tipo">Tipo de Jogo</label>
            <select id="tipo" class="form-control" [(ngModel)]="tipo" name="tipo">
                <option value="tabuleiro">Tabuleiro</option>
                <option value="carta">Cartas</option>
            </select>
        </div>
    
        <div *ngIf="tipo === 'tabuleiro'" class="form-group mb-3">
            <label for="numeroJogadores">Número de Jogadores</label>
            <input type="number" id="numeroJogadores" class="form-control" [(ngModel)]="numeroJogadores"
                name="numeroJogadores" />
        </div>
    
        <div *ngIf="tipo === 'carta'" class="form-group mb-3">
            <label for="idadeMinima">Idade Mínima</label>
            <input type="number" id="idadeMinima" class="form-control" [(ngModel)]="idadeMinima" name="idadeMinima" />
        </div>
    
        <button type="submit" class="btn btn-primary">Adicionar Jogo</button>
    </form>
</div>
